<title>Flexbox 0 — starting code</title>
<style>
      html {
        font-family: sans-serif;
      }

      body {
        margin: 30px;
      }

      h1 {
        text-align: center;
        line-height: 100px;
      }

      figure
img

      article {
        padding: 10px;
        margin: 10px;
        background: aqua;
      }