    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Flexbox 0 — starting code</title>
    <style>
      html {
        font-family: sans-serif;
      }

      body {
        margin: 20;
      }

      h1 {
        text-align: center;
        line-height: 100px;
        margin: 20;
      }

      article {
        padding: 10px;
        margin: 10px;
        background: aqua;
      }