html {
  height: 100%;
  width: 100%;
}

body {
  margin: 30px;
  background: #5D423A;
  color: #FBFEFB
}

p {
  color: #FFFFFF;
  font-family: Akaya Telivigala;
}

h1 {
  color: #D0B8AC;
  font-size: 80px;
  font-family: Potta One;
  text-align: center;
  line-height: 100px;
}

h2 {
  color: #F3D8C7;
  font-family: DynaPuff;
  
}

h3 {
  color: #EFE5DC;
  font-family: DynaPuff;
}

figcaption {
  font-family: Akaya Telivigala;
  color: #fbfefb
}

ul {
  font-family: Akaya Telivigala;
  color: #FBFEFB
}

li {
  color: #FFFFFF;
  font: Akaya Telivigala;
}

ol{
  color: #FFFFFF;
}

form 
input
fieldset
figure
img
label
script

legend {
  color: #F3D8C7;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex start;
  gap: 1px;
}

.item-1 {
  flex-grow: 1;
}

.item-2 {
  flex-grow: 1;
}

.item-3 {
  flex-grow: 1;
}



