html {
  height: 100%;
  width: 100%;
}

body {
  background: #7A5C61;
  color: #FBFEFB
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  color: #D0B8AC;
}

h2 {
  color: #F3D8C7;
}

h3 {
  color: #EFE5DC;
}

p
figure
img
figcaption

ul{
  color: #FFFFFF;
}
li {
  color: 
}

ol
form
input
fieldset
legend
label
script
