html {
  height: 100%;
  width: 100%;
}

body {
  margin: 30px;
  background: #5D423A;
  color: #FBFEFB
}

p {
  color: #FFFFFF;
  font-family: Akaya Telivigala;
}

h1 {
  color: #D0B8AC;
  font-size: 80px;
  font-family: Potta One;
  text-align: center;
  line-height: 100px;
}

h2 {
  color: #F3D8C7;
  font-family: DynaPuff;
  
}

h3 {
  color: #EFE5DC;
  font-family: DynaPuff;
}

figcaption {
  font-family: Akaya Telivigala;
  color: #fbfefb
}

ul {
  font-family: Akaya Telivigala;
  color: #FBFEFB
}

li {
  color: #FFFFFF;
  font: Akaya Telivigala;
}

ol{
  color: #FFFFFF;
}

form 
input
fieldset
figure
img
label
script

legend {
  color: #F3D8C7;
}

section {
  display: flex;
  flex-direction: column;
}

div {
  border: 1px solid black;
  background-color: lightblue;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

article {
  padding: 10px;
  margin: 10px;
  background: aqua;
}


.flex-container {
  display: flex;
  flex-direction: column;
}



